:root {

    /* Colors: */
    --unnamed-color-f16f51: #F16F51;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-000000: #000000;
    --unnamed-color-f8cdc5: #F8CDC5;
    --unnamed-color-ee6f52: #EE6F52;
    
    /* Font/text values */
    --unnamed-font-family-lust-sans: Lust Sans;
    --unnamed-font-family-dunbar-text: Dunbar Text;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-31: 31px;
    --unnamed-font-size-43: 43px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-24: 24px;
    --unnamed-line-spacing-26: 26px;
    --unnamed-line-spacing-54: 54px;
    --unnamed-text-transform-uppercase: uppercase;
    }
    
    /* Character Styles */
    .h1-noir {
    font-family: var(--unnamed-font-family-lust-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-43);
    line-height: var(--unnamed-line-spacing-54);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .h1-blanc {
    font-family: var(--unnamed-font-family-lust-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-43);
    line-height: var(--unnamed-line-spacing-54);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .h1-orange {
    font-family: var(--unnamed-font-family-lust-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-43);
    line-height: var(--unnamed-line-spacing-54);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ee6f52);
    }
    .h2-noir {
    font-family: var(--unnamed-font-family-dunbar-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-31);
    line-height: var(--unnamed-line-spacing-26);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-transform: var(--unnamed-text-transform-uppercase);
    }
    .h2-orange {
    font-family: var(--unnamed-font-family-dunbar-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-31);
    line-height: var(--unnamed-line-spacing-26);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ee6f52);
    text-transform: var(--unnamed-text-transform-uppercase);
    }
    .labeur-blanc {
    font-family: var(--unnamed-font-family-dunbar-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .labeur-noir {
    font-family: var(--unnamed-font-family-dunbar-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }




body{
    background-color: #000000;
    color: white;
    margin: 0;
}

#nav {
  top: -8px;
  left: -11px;
  position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #000000;
    text-align: right;
    border-bottom: 2px solid #F16F51;
    height: 100px;
    width: 100%;
}
  
  .logo img {
    height: 50px;
    width: auto;
  }
  
  .nav-items {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 5%;
  }
  
  .nav-items li:not(:last-child) {
    margin-right: 30px;
  }
  
  .nav-items a {
    color: #ffffff;
    text-decoration: none;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/var(--unnamed-line-spacing-26) var(--unnamed-font-family-dunbar-text);
    letter-spacing: var(--unnamed-character-spacing-0);



    font-size: 20px;
  }
  .nav-items a:hover{
    color: #F16F51;
  }
  .espace-client{
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border: 2px solid #ffffff;
    background-color: #000000;
    border-radius: 25px;
   font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/var(--unnamed-line-spacing-26) var(--unnamed-font-family-dunbar-text);
letter-spacing: var(--unnamed-character-spacing-0);
    font-size: 20px;
  }
    .espace-client:hover{
        background-color: #F16F51;
        border: 2px solid #F16F51;
    }

      
      .text-container {
        max-width: 50%;
      }
      
      #image-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        width: 50%;
        position: relative;
      }
      
      #image-container2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        position: absolute;
        opacity: 0;
        transition: opacity 0.3s ease;
        top: 0;
      }
      
      #image-container2:hover {
        opacity: 1;
      }
      
      .img-accueil {
        display: block;
        width: 100%;
        height: auto;
        transition: all 0.5s ease;
      }
      
      .img-accueil2 {
        display: block;
        width: 100%;
        height: auto;
        transition: all 0.5s ease;
      }
      
      
      
      .border {
        position: absolute;
        top: 0;
        right: -20px;
        bottom: 0;
        width: calc(100% + 40px);
        border: 2px solid #333;
        border-radius: 4px;
      }
      .test{
        /* Layout Properties */
top: 238px;
left: 62px;
height: 54px;
/* UI Properties */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-43)/var(--unnamed-line-spacing-54) var(--unnamed-font-family-lust-sans);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-f16f51);
text-align: left;
font: normal normal bold 43px/54px Lust Sans;
letter-spacing: 0px;
color: #F16F51;
opacity: 1;
margin-bottom: 0px;
      }
        .test2{
            /* Layout Properties */
top: 292px;
left: 62px;
height: 108px;
/* UI Properties */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-43)/var(--unnamed-line-spacing-54) var(--unnamed-font-family-lust-sans);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal bold 43px/54px Lust Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin-top: 0px ;
        }
        @media screen and (max-width: 768px) {
          .test{
            font-size: 30px;
          }
          .test2{
            font-size: 20px;
            margin-top: 20%;
          }
        }
          
        .contacter{
          cursor: pointer;
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 10px;
          padding-bottom: 10px;
          color: white;
          border: 2px solid #ffffff;
          background-color: #000000;
          border-radius: 25px;
         font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/var(--unnamed-line-spacing-26) var(--unnamed-font-family-dunbar-text);
      letter-spacing: var(--unnamed-character-spacing-0);
          font-size: 16px;
          margin-top: 20px;

        }
        .contacter:hover{
          background-color: #F16F51;
          border: 2px solid #F16F51;
        }
        .picture-container{
          display: flex;
          flex-direction: row;
          align-content: center;
          justify-content: space-around;
          align-items: center;
          margin-top: 10vh;
        }
        .nav-toggle {
          position: relative;
          z-index: 1;
          display: none;
        }
        
        .hamburger {
          position: relative;
          display: block;
          width: 24px;
          height: 2px;
          margin: 0 auto;
          background: #000;
          transition: all 0.2s ease-out;
        }
        
        .hamburger:before,
        .hamburger:after {
          content: "";
          position: absolute;
          display: block;
          width: 24px;
          height: 2px;
          background: #000;
          transition: all 0.2s ease-out;
        }
        
        .hamburger:before {
          top: -8px;
        }
        
        .hamburger:after {
          bottom: -8px;
        }
        @media (max-width: 768px) {
          .nav-items {
            display: none;
          }
        
          .nav-toggle {
            display: block;
          }
        }
        .nav-items.show {
          display: block;
        }
.nav-toggle{
  width: 40px;
  height: 50px;
}


.defileParent {
  display: block;
  margin: 2vh auto;
  overflow: hidden;
  position: relative;
  table-layout: fixed;
  width: 100%;
}
.container-defile{

  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}
.defile {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-43)/var(--unnamed-line-spacing-54) var(--unnamed-font-family-lust-sans);
  display: block;
  animation: linear marqueelike 70s infinite;
  margin-left: -100%;
  padding: 0 5px;
  text-align: left;
  height: 60px;
  color: black;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  font-size: 39px;
}
.defile:after {
	content:attr(data-text);
	position:absolute;
	white-space:nowrap;
	padding-left:10px;
}

@-webkit-keyframes marqueelike {
 	0%, 100% {margin-left:0;}
 	99.99% {margin-left:-100%;}
 }
.container-expertise{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  border-bottom: 4px solid #EE6F52;
  width: 100%;
  height: 50vh;

}
.container-img-expertise{
}
.text-expertise{
  width: 60%;
  
}
.img-expertise{
  height: 100%;
}
#title-expertise-orange{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-43)/var(--unnamed-line-spacing-54) var(--unnamed-font-family-lust-sans);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-f16f51);
text-align: left;
font: normal normal bold 43px/54px Lust Sans;
letter-spacing: 0px;
color: #F16F51;
opacity: 1;
}
.rose{
  color: #000;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: #F8CDC5;
  padding-bottom: 10vh;
}
.title-rose{
  text-align: center;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-43)/var(--unnamed-line-spacing-54) var(--unnamed-font-family-lust-sans);
}
#nous{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-43)/var(--unnamed-line-spacing-54) var(--unnamed-font-family-lust-sans);
  color: #F16F51;
}
.container-comp{
  display: flex;
}
.container-maitrise{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.container-gestion{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-comptabilite{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-conseil{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.back-gestion{
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1.5px solid var(--unnamed-color-000000);
  background: #FFFFFF 0% 0% no-repeat padding-box;

}
.gestion{
text-transform: uppercase;
}
.back-compta{
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1.5px solid var(--unnamed-color-000000);
  background: #FFFFFF 0% 0% no-repeat padding-box;


}
.back-conseil{
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  border: 1.5px solid var(--unnamed-color-000000);
  background: #FFFFFF 0% 0% no-repeat padding-box;


}
.container-clone-expertise{
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: absolute;
    opacity: 0;
    transition: opacity 0.3s ease;
    
}
.clone-expertise{
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.5s ease;
}
.container-clone-expertise:hover{
  opacity: 1;
}