:root {

    /* Colors: */
    --unnamed-color-f16f51: #F16F51;
    --unnamed-color-ffffff: #FFFFFF;
    --unnamed-color-000000: #000000;
    --unnamed-color-f8cdc5: #F8CDC5;
    --unnamed-color-ee6f52: #EE6F52;
    
    /* Font/text values */
    --unnamed-font-family-lust-sans: Lust Sans;
    --unnamed-font-family-dunbar-text: Dunbar Text;
    --unnamed-font-style-normal: normal;
    --unnamed-font-weight-bold: bold;
    --unnamed-font-weight-normal: normal;
    --unnamed-font-size-16: 16px;
    --unnamed-font-size-31: 31px;
    --unnamed-font-size-43: 43px;
    --unnamed-character-spacing-0: 0px;
    --unnamed-line-spacing-24: 24px;
    --unnamed-line-spacing-26: 26px;
    --unnamed-line-spacing-54: 54px;
    --unnamed-text-transform-uppercase: uppercase;
    }
    
    /* Character Styles */
    .h1-noir {
    font-family: var(--unnamed-font-family-lust-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-43);
    line-height: var(--unnamed-line-spacing-54);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }
    .h1-blanc {
    font-family: var(--unnamed-font-family-lust-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-43);
    line-height: var(--unnamed-line-spacing-54);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .h1-orange {
    font-family: var(--unnamed-font-family-lust-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-43);
    line-height: var(--unnamed-line-spacing-54);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ee6f52);
    }
    .h2-noir {
    font-family: var(--unnamed-font-family-dunbar-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-31);
    line-height: var(--unnamed-line-spacing-26);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    text-transform: var(--unnamed-text-transform-uppercase);
    }
    .h2-orange {
    font-family: var(--unnamed-font-family-dunbar-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-31);
    line-height: var(--unnamed-line-spacing-26);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ee6f52);
    text-transform: var(--unnamed-text-transform-uppercase);
    }
    .labeur-blanc {
    font-family: var(--unnamed-font-family-dunbar-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-ffffff);
    }
    .labeur-noir {
    font-family: var(--unnamed-font-family-dunbar-text);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-16);
    line-height: var(--unnamed-line-spacing-24);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--unnamed-color-000000);
    }




body{
    background-color: #000000;
    color: white;
    margin: 0;
}

#nav {
  top: -8px;
  left: -11px;

    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #000000;
    text-align: right;
    border-bottom: 2px solid #ff7b00;
    height: 100px;
}
  
  .logo img {
    height: 50px;
    width: auto;
  }
  
  .nav-items {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-items li:not(:last-child) {
    margin-right: 30px;
  }
  
  .nav-items a {
    color: #ffffff;
    text-decoration: none;

    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/var(--unnamed-line-spacing-26) var(--unnamed-font-family-dunbar-text);
    letter-spacing: var(--unnamed-character-spacing-0);



    font-size: 20px;
  }
  .nav-items a:hover{
    color: #ff7b00;
  }
  .espace-client{
    cursor: pointer;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    border: 2px solid #ffffff;
    background-color: #000000;
    border-radius: 25px;
   font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/var(--unnamed-line-spacing-26) var(--unnamed-font-family-dunbar-text);
letter-spacing: var(--unnamed-character-spacing-0);
    font-size: 20px;
  }
    .espace-client:hover{
        background-color: #ff7b00;
        border: 2px solid #ff7b00;
    }

      
      .text-container {
        max-width: 50%;
      }
      
      .image-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
      }
      
      .image-container img {
        width: 100%;
        height: auto;
        display: block;
      }
      
      .border {
        position: absolute;
        top: 0;
        right: -20px;
        bottom: 0;
        width: calc(100% + 40px);
        border: 2px solid #333;
        border-radius: 4px;
      }
      .test{
        /* Layout Properties */
top: 238px;
left: 62px;
height: 54px;
/* UI Properties */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-43)/var(--unnamed-line-spacing-54) var(--unnamed-font-family-lust-sans);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-f16f51);
text-align: left;
font: normal normal bold 43px/54px Lust Sans;
letter-spacing: 0px;
color: #F16F51;
opacity: 1;
margin-bottom: 0px;
      }
        .test2{
            /* Layout Properties */
top: 292px;
left: 62px;
height: 108px;
/* UI Properties */
font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-43)/var(--unnamed-line-spacing-54) var(--unnamed-font-family-lust-sans);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--unnamed-color-ffffff);
text-align: left;
font: normal normal bold 43px/54px Lust Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
margin-top: 0px ;
        }
        @media screen and (max-width: 768px) {
          .test{
            font-size: 30px;
          }
          .test2{
            font-size: 20px;
            margin-top: 20%;
          }
        }
          
        .contacter{
          cursor: pointer;
          padding-left: 30px;
          padding-right: 30px;
          padding-top: 10px;
          padding-bottom: 10px;
          color: white;
          border: 2px solid #ffffff;
          background-color: #000000;
          border-radius: 25px;
         font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 18px/var(--unnamed-line-spacing-26) var(--unnamed-font-family-dunbar-text);
      letter-spacing: var(--unnamed-character-spacing-0);
          font-size: 16px;

        }
        .contacter:hover{
          background-color: #ff7b00;
          border: 2px solid #ff7b00;
        }
        .picture-container{
          display: flex;
          flex-direction: row;
          align-content: center;
          justify-content: center;
          align-items: center;
          margin-top: 10vh;
        }
        .nav-toggle {
          position: relative;
          z-index: 1;
          display: none;
        }
        
        .hamburger {
          position: relative;
          display: block;
          width: 24px;
          height: 2px;
          margin: 0 auto;
          background: #000;
          transition: all 0.2s ease-out;
        }
        
        .hamburger:before,
        .hamburger:after {
          content: "";
          position: absolute;
          display: block;
          width: 24px;
          height: 2px;
          background: #000;
          transition: all 0.2s ease-out;
        }
        
        .hamburger:before {
          top: -8px;
        }
        
        .hamburger:after {
          bottom: -8px;
        }
        @media (max-width: 768px) {
          .nav-items {
            display: none;
          }
        
          .nav-toggle {
            display: block;
          }
        }
        .nav-items.show {
          display: block;
        }
.nav-toggle{
  width: 40px;
  height: 50px;
}
.img-accueil {
  display: block;
  width: 100%;
  height: auto;
  transition: all 0.5s ease;
}
.image-hover {
  display: inline-block;
  position: relative;
}
.defileParent {
  display: block;
  margin: 3vh auto;
  overflow: hidden;
  position: relative;
  table-layout: fixed;
  width: 100%;
}
.container-defile{

  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  margin-bottom: 10px;
}
.defile {
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-43)/var(--unnamed-line-spacing-54) var(--unnamed-font-family-lust-sans);
  display: block;
  animation: linear marqueelike 50s infinite;
  margin-left: -100%;
  padding: 0 5px;
  text-align: left;
  height: 60px;
  color: black;
  text-shadow: 0 0 2px white;
  font-size: 39px;
}
.defile:after {
	content:attr(data-text);
	position:absolute;
	white-space:nowrap;
	padding-left:10px;
}

@-webkit-keyframes marqueelike {
 	0%, 100% {margin-left:0;}
 	99.99% {margin-left:-100%;}
 }
 .image-hover:hover .img-accueil {
  filter: grayscale(0%) hue-rotate(90deg);
}